__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

.vscode/
.idea/

test/
*.onnx
*.pt
best_cnn*.pt
synth_data/
adaptive_results/
submission_shrink/
submission.csv

.ipynb_checkpoints/

.DS_Store
Thumbs.db